<div class="card">
    <div class="card-body">
        <div >
            <form (ngSubmit)="buscarLugares()">
                <div class="row">
                    <div class="col-lg-10 mt-2">
                        <input type="text" [(ngModel)]="nombreLugar" name="buscador" type="text" class="form-control form-control-lg" placeholder="Ingrese el nombre de un lugar">
                      </div>
                      <div class="col-lg-2 mt-2 ">
                        <button  type="submit" class="btn btn-primary btn-lg btn-block">Buscar</button>
                      </div>
                </div>
               
            </form>
        </div>
    </div>
</div>