<div class="container mt-3">

    <div class="row row-cols-1 row-cols-md-4 g-4 mt-1">
      <div *ngFor="let registro of listRegistros" class="col mb-2">
        
        <div class="card ">
          <img src="https://cdn.pixabay.com/photo/2018/08/28/12/41/avatar-3637425_960_720.png" alt="" height="250px" width="300px" class="card-img-top">
          <div class="card-body text-center ">
      
           <h5 class="card-title text-center">{{registro._id}}</h5>
           <p> <strong>Nombres: </strong> {{registro.nombre}} {{registro.apellido}}</p>
           <p> <strong>Ubicación: </strong>{{registro.ubicacion}}</p>
         <ng-container *ngFor=" let regis of registro.registros; last as last;">
          <ng-container *ngIf="last">

        
          <p ><strong>Cantidad:</strong> {{regis.cantidad}} </p> 
           <p>  <strong>Fecha Compra:</strong> {{regis.fechaCompra}}</p>
          </ng-container>
         </ng-container>
          </div>
          <div class="card-footer text-muted text-center">
            <a  class="btn btn-danger">Ver mas</a>
          </div>
        </div>
  
      </div>
    </div>

