<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <h2 class="titulo">Registro</h2>
        </div>
      </div>
    </div>

  </div>
  <div class="row mt-4">
    <div class="col-lg-8 offset-lg-2">
      <app-crear-registro></app-crear-registro>
    </div>
  </div>
  <div class="row mt-4">
        <div class="col-lg-12 ">
        <app-listar-registros></app-listar-registros>
      </div>
    
  </div>
</div>